.mainContainer {
    height: 100%;
    width: 100%;
    position: relative;

}

.mainBackgorund {
    left: 25%;
    position: fixed;
    height: 100vh;
    width: 50vw;
    background-color: rgba(40, 99, 99, 0.93);
    z-index: -1;
}

.mainlogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-height: 80vh;
}

.button-container {
    padding-top: 42em;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}
.button2-container {
    padding-top: 34em;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
}

.ourButton {

    font-family: 'Cocon Next Arabic' !important;
    grid-column-start: 3;
    color: rgba(40, 99, 99);
    background-color: #E1F3F5;
    border-color: #E1F3F5;
    font-size: 2em;


}




.ourButton:hover {
    color: rgba(40, 99, 99) !important;
    background-color: rgba(225, 243, 245, 0.63) !important;
    border-color: #E1F3F5 !important;
    border-width: 3px;

}

.ourButton2 {
    font-family: 'Cocon Next Arabic' !important;
    grid-column-start: 3;
    color: rgba(40, 99, 99);
    background-color: #E1F3F5;
    border-color: #E1F3F5;
    font-size: 1.5em;
    
}

.ourButton2:hover {
    color: rgba(40, 99, 99) !important;
    background-color: rgba(225, 243, 245, 0.63) !important;
    border-color: #E1F3F5 !important;
    border-width: 3px;
}

/* mobile version Styling  */
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .mainBackgorund {
        left: 0;
        width: 100vw;
    }

    .mainlogo {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;


    }

    .ourButton {

        color: rgba(40, 99, 99);
        background-color: #E1F3F5;
        border-color: #E1F3F5;
    }

    .ourButton2 {
        
        color: rgba(40, 99, 99);
        background-color: #E1F3F5;
        border-color: #E1F3F5;
    }

    .button-container {
        padding-top: 74vh;
    }
    .button2-container {
       
        padding-top: 53vh;
    }

}