.mainContainer {
    height: 100%;
    width: 100%;
    position: relative;

}

.mainBackgorund {
    left: 25%;
    position: absolute;
    height: 100vh;
    width: 50vw;
    background-color: rgba(40, 99, 99, 0.93);
    z-index: 0;
}

.mainlogo {
    position: fixed;
    left: 30vw;
    height: 40vw;
    width: 40vw;
  
}

.ourButton{
    font-family: 'Cocon Next Arabic'!important;
    position: fixed;
    top:79%;
    left:40%;
    width:20%;
    color:  rgba(40, 99, 99);
    background-color: #E1F3F5;
    border-color: #E1F3F5;
}

.ourButton:hover {
    color:  rgba(40, 99, 99);
    background-color: rgba(225, 243, 245, 0.63);
    border-color: #E1F3F5; 
    border-width: 3px;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .mainBackgorund {
        left:0;
        width: 100vw;

    }
    .mainlogo {
        position: fixed;
        left:-10.2vh;
        height: 70vh;
        width: 70vh;
    }
    
    .ourButton{
        top:69%;
        left:28.4%;
        width:50%;

        font-size: xx-large;
        color:  rgba(40, 99, 99);
        background-color: #E1F3F5;
        border-color: #E1F3F5;
    }
  }