 
.mapContainer {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index:-1 ;
 }



/*  
.marker { 
    background-image: url('../img/marker-icon.svg');
    width: 45em;
    height: 45em;
    cursor: pointer;
}
*/