.bgInfoSection{
    background-color:  rgba(225, 243, 245, 0.63);
    z-index: 34;
    background-size: cover;
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 0px;
    border-bottom: 2px;
    border-color:1px;
    position: sticky;
    
}

.restaName{
    text-align: center;
    grid-column: 1/ span 3;
    color:rgba(40, 99, 99); 
    
}

.catogoryAndRating{
    text-align: center;
    grid-column: 1 / span 3;
    color:rgba(40, 99, 99);
}

.optionsContainer{
    text-align: center;
    grid-column:1/span 3; 
    display: grid;
    grid-template-columns:auto auto auto;
    grid-gap: 0px;
    padding: 0px;
    grid-area: 3;
    grid-column-start: 2;
}

.myIconSize{
    
    height: 2em;
    width: 2em ;
}

.collapseOptions{
    margin-top:1% ;
    grid-column:1/span 3; 
    width:100% ; 
    height: 1.8rem ; 
    background-color: aliceblue;
}
