* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
}

@font-face {
  font-family: 'Cocon Next Arabic';
  src: url('./fonts/cocon-next-arabic-webfont.eot');
  src: url('./fonts/cocon-next-arabic-webfont.eot?#iefix') format('embedded-opentype'),
       url('./fonts/cocon-next-arabic-webfont.woff') format('woff'),
       url('./fonts/cocon-next-arabic-webfont.ttf') format('truetype'),
       
  }

body {
  font-family: 'Cocon Next Arabic'!important;
  line-height: 1.4;
}